.child-cont {
  display: flex;
  flex-direction: column;
  Justify-content: center;
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.h2-Pro {
  text-align: center;
  margin: 20px 0px;
}

.child{
    margin-bottom: 30px;

}