@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Passion+One&display=swap');

.alreadyRegistered {
    text-align: center;
    color: #3f51b5;
    margin-bottom: 0px;
}
.Buttons-landingPage {
    display: flex;
    margin: auto;
}

.content-landingPage {
    display: flex;
    margin: auto;
    flex-direction: column;

}

.globalDiv {
    background-color: #91c9f2;
}

.landingPage-flex {
    display: flex;
    background-color: #91c9f2;
    background-image: url(./DoctoimgBackground.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

.loginButton {
    float: right;
    background-color: #91c9f2;
}

.title-landingPage {
    display: flex;
    font-size: 64px;
    color: #132a69;
    /* color: #d8e2ea; */
    /* color: #b27650; */
    /* margin-left: 50px; */
    font-family: 'Archivo Black', sans-serif;
}
